<div class="container">
    <div class="row">
        <div class="col-sm-2">

    </div>
    <div class="col-sm-8">
    <main>
     
        <hr>
        </div>
    </main>


    <div class="col-sm-6">
    <div id="pokemon-info">
        
    </div>
     <button class="btn btn-danger" onclick="pokeApi()">ELEGIR POKEMON 1</button>

    </div>
    <div class="col-sm-6">
    <div id="entrenador2">
    </div>
        <button class="btn btn-danger" onclick="theChallenger()" >ELEGIR POKEMON 2</button>

    </div>
    <div class="col-sm-2">

    </div> 
    {{!-- Botones Inicio  --}}
<div class="container">
  <div class="row" style="margin-top:50px;">
    <div class="col-sm">

    </div>
    <div class="col-sm">
    <button type="button" class="btn btn-success"onclick="batalla(baseData, desafio)">VER RESULTADO</button>
    </div>
    <div class="col-sm">

    </div>
  </div>
</div>


{{!-- Botones Fin --}}
    </div>
</div>

    <script src="/js/batalla.js"></script>
