<link rel="stylesheet" href="/css/perfil.css">

<div class="container p-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenido:</h3>
                    <h4 class="bienvenido"> {{user.fullname}}</h4>
                  
                    <h4>Usuario: {{user.username}}</h4>


<div class="perfil">
	<a href="/">Home</a>
	<a href="/Pokemon/Lista">Lista</a>
	<a href="/Pokemon/Pokedex">Pokedex</a>
	<a href="/Pokemon/Batalla">Batalla</a>
    <a href="/logout">Cerrar Sesión</a>
	<div class="animation start-home"></div>
</div>
                    
                </div>
            </div>
        </div>
     
    </div>
</div>




